# Pasta particular: não enviar ao GitHub
/MeusArquivos/

# Pasta VsCode
.vscode/

# Executáveis compilados
*.exe

# Outros arquivos de compilação
*.obj
*.o
*.c
*.map
*.tds

# Arquivos temporários
*.tmp
*.log